* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-bg-color: #2f4553;
    --primary-color: #90ee90;
    --secondary-color: #005d60;
}

body {
    background-color: var(--main-bg-color);
}

header {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/istockphoto-832493292-170667a.jpg");
    background-size: cover;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;

}
header h4 a{
    display: inline-block;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
}

header nav h1 a{
    display: inline-block;
    --primary-color: #90ee90;
    text-decoration: underline;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

header nav{
    padding-top: 10px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
header ul{
    list-style-type:none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-top: center;
}
