* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


 body {
    background: linear-gradient( to top, rgba(10, 141, 60, 0.349), rgb(10, 80, 160));
}

    /*HEADER */

header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/istockphoto-832493292-170667a.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;

}
header a{
    text-decoration: none;
    color: aliceblue;
    opacity: .9;
}

header h2{
    font-size: 25px;
    display: flex;
    align-items:center;
    padding: 20px;
    color: aliceblue;
    opacity: .8;
    
}

header div{
    font-size: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}
header ul{
    list-style-type:none;
}
header div ul li {
    display: inline-block;
    align-items:center;
    padding: 22px 25px;
    flex-wrap: wrap;
}

    /*ABOUT Section*/

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;

}   
.column {
    display: flex;
    align-items: center;
    min-width: 500px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    border-right: 4px solid black;
}   


.column2 p{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 300px;
}

h2 {
    font-size: 50px;
}

.text-info p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}



    /* WORK */

.row2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;

}

.column2-work {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.divisions {
    height: 536px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type:none;
}


.summer-game-img {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/banner-game.jpg");
    background-size: cover;
    display: flex;
    opacity: .5;
    border-style:solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.summer-game-img a{
    font-display: bold;
    font-size: 50px;
    color: aliceblue;
}
.horiseon-img {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/istockphoto-1165514151-612x612.jpg");
    background-size: cover;
    display: flex;
    opacity: .5;
    border-style:solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.horiseon-img a{
    font-display: bold;
    font-size: 50px;
    color: aliceblue;
}

.run-buddy-img {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/fitness-banner.jpg");
    background-size: cover;
    display: flex;
    opacity: .5;
    border-style:solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.run-buddy-img a{
    font-display: bold;
    font-size: 50px;
    color: hsl(69, 89%, 65%);
}

.column2-work button {
    width: 5%;
    border: none;
    background: black;
    color: yellowgreen;
    text-align: left;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px
}



/* CONTACT ME */

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    min-width: 763px;
}


.contact-info div{
    font-size: 20px;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
}

.contact-info div ul li {
    display: inline-block;
    align-items:center;
    padding: 32px;
    padding-left: 10px;
    flex-wrap: wrap;
    padding-bottom: 0;
    

}

.column2 a{
    color: black;
    text-decoration: none;
    margin-bottom: -6;
}


