* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-bg-color: #2f4553;
    --primary-color: hsl(118, 80%, 52%);
    --secondary-color: #616c6d;
}

 body {
    background: linear-gradient( to top, rgba(10, 141, 60, 0.349), rgb(10, 80, 160));
}

    /*HEADER */

header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/istockphoto-832493292-170667a.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;

}
header a{
    text-decoration: none;
    color: aliceblue;
    opacity: .9;
}

header h2{
    font-size: 25px;
    display: flex;
    align-items:center;
    padding: 20px;
    color: aliceblue;
    opacity: .8;
    
}

    /* About, Services, Work and Contact sections banner*/

header div{
    font-size: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}
header ul{
    list-style-type:none;
}
header div ul li {
    display: inline-block;
    align-items:center;
    padding: 22px 25px;
    flex-wrap: wrap;
}

    /*ABOUT Section*/

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;

}   
.column {
    display: flex;
    align-items: center;
    width: 80%;
    min-width: 500px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    border-right: 2px solid black;
}   


.column2 p{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 300px;
}

h2 {
    font-size: 50px;
}

.text-info p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

/* CONTACT ME */

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    min-width: 763px;
}


.contact-info div{
    font-size: 20px;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
}

.contact-info div ul li {
    display: inline-block;
    align-items:center;
    padding: 32px;
    padding-left: 10px;
    flex-wrap: wrap;
    padding-bottom: 0;
    border-bottom: 2px solid black;
    

}

.column2 a{
    text-decoration: none;
}
